{% extends 'app/base.html' %}
{% load static %}
{% block contenido %}    
    <div class="carrito">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12 col-12">
                    <div class="banner-carrito bg-primary text-light m-4 rounded-pill shadow d-flex">
                        <img src="{% static 'app/img/carrito/icon-carrito.png' %}" alt="" width="70" >
                        <h2 class="m-5">Tienes <span class="badge rounded-circle bg-primary fs-3">{{ contador }}</span> productos en el carrito.</h2>
                    </div>
                </div>
                
                <div class="col-lg-8 col-sm-8 col-12">
                    {% for aux in listaCarrito %}
                    <div class="col-lg-12 col-12">
                        <div class="carrito-cards d-flex">
                            <div class="card shadow">
                                <div class="card-body">
                                    <h4 class="card-title">{{ aux.codigo.marca}}</h4>
                                    <p class="card-text">{{ aux.codigo.nombre }}</p>
                                    <p class="card-text">Precio: ${{ aux.codigo.precio }}</p>
                                </div>
                                {% if aux.codigo.imagen %}
                                    <img class="card-img-top" src="{{ aux.codigo.imagen.url }}" alt="Card image">
                                    {% else %}
                                    <img src="{% static 'app/img/stock/stock-juego-1.jpg' %}" alt="">
                                {% endif %}
                                    
                                
                                
                            </div>
                        </div>
                        
                    </div>
                    {% endfor %}
                </div>
                
                <div class="col-lg-4 col-sm-4 col-12">        
                    <div class="total-pagar">
                        <h4 class="d-flex justify-content-between align-items-center mb-3 mt-3">
                            <span class="text-light">Total</span>
                            <span class="badge bg-primary rounded-pill fs-3">3</span>
                        </h4>
                        <ul class="list-group mb-3">
                            {% for aux in listaCarrito %}
                            <!--Primer Producto-->
                            <li class="list-group-item d-flex justify-content-between lh-sm">
                            <div>
                                <h6 class="my-0">{{ aux.codigo.nombre }}</h6>
                                <small class="text-muted">{{ aux.codigo.tipo }}</small>
                            </div>
                            <span class="text-muted">${{ aux.codigo.precio }}</span>
                            </li>
                            {% endfor %}
                            <!--Descuento-->
                            <li class="list-group-item d-flex justify-content-between bg-light">
                            <div class="text-success">
                                <h6 class="my-0">Descuento Suscripción</h6>
                            </div>
                            <span class="text-success">$0</span>
                            </li>

                            <!--Total-->
                            <li class="list-group-item d-flex justify-content-between">
                            <span>Total (CLP)</span>
                            <strong>$65.000</strong>
                            </li>
                        </ul>
                        
                        <!--BTN Pagar--> 
                        <form class="card p-2"> <!--Botones que no son botones, funciona? si, se ve bien? si, todo de bien entonces-->
                            <a href="{% url 'pagar' %}" class="btn btn-outline-success">
                                Pagar
                            </a>
                            <br>
                            <a href="{% url 'stock' %}" class="btn btn-warning">
                                Seguir Comprando
                            </a>
                        </form><br> <!--Br totalmente imprescindible-->

                        <!--Mediso de pago-->
                        <div class="medio-pago">
                            <form class="card p-2">
                                <div class="input-group d-flex justify-content-center">
                                    <h4>Medios de Pago Disponibles:</h4>
                                    <img src="{% static 'app/img/carrito/medios-pago-carrito.png' %}" width="350px" alt="">
                                </div>
                            </form> 
                        </div>
                        <form action="" method="POST">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger btn-vaciar">Vaciar carrito <i class="fa-solid fa-trash"></i></button>
                            <a href="{% url 'carrito' %}"></a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>    
{% endblock %}