{% extends 'app/base.html' %}
{% load static %}
{% block contenido %}
<section>
    <div class="container-fluid">
        <!--Titulo-->
        <div class="col-sm-12 col-12">
            <div class="banner-pago d-flex shadow">
                <h3>WebPay</h3>
            </div>
        </div>

        <!--Cuerpo-->
        <div class="col-sm-12 col-12">
            <div class="formulario-pago shadow">
                <form action="get">
                    <div class="mb-3 mt-2">
                        <i class="fas fa-user"></i>
                        <label for="name" class="form-label">Nombre y Apellido:</label>
                        <input type="text" class="form-control" id="name" placeholder="Javier Inostroza" name="txtName">
                    </div>
                    <div class="mb-3 mt-2">
                        <i class="fas fa-user"></i>
                        <label for="rut" class="form-label">Rut:</label>
                        <input type="text" class="form-control" id="rut" placeholder="Ingrese Rut sin Puntos ni Guion" name="txtRun">
                    </div>
                    <div class="mb-3 mt-2">
                        <i class="fa-solid fa-credit-card"></i>
                        <label for="tarjeta" class="form-label"> Numero de Tarjeta: </label>
                        <input type="text" class="form-control" id="tarjeta" placeholder="1111 2222 3333 4444" name="txtTarjeta">
                    </div>
                    <div class="mb-3 mt-2">
                        <i class="fa fa-calendar" aria-hidden="true"></i>
                        <label for="tarjeta" class="form-label"> Ingrese Fecha de Expiración de la Tarjeta: </label>
                        <div class="form-list__input-inline">
                            <input type="text" name="cc_month" placeholder="MM"  pattern="\\d*"/>
                            <input type="text" name="cc_year" placeholder="YY"  pattern="\\d*"/>
                        </div>
                    </div>
                    <div class="mb-3 mt-2">
                        <i class="fa-solid fa-credit-card"></i>
                        <label for="ccv" class="form-label">CCV:</label> <br>
                        <input type="text" name="ccv-control" id="ccv" placeholder="***" name="txtCcv" />
                    </div>
                </form>
                <div class="d-grid">
                {% for aux in listaCarrito %}
                    <form action="" method="POST">
                        {% csrf_token %}    
                        <div class="d-grid">
                            <input type="hidden" name="codigo" id="codigo" value="{{ aux.codigo_id }}">
                            <button type="submit" class="btn btn-success btn-block mb-2">Pagar <i class="fa-solid fa-credit-card"></i></button>
                        </div>
                    </form>
                    <a href="{% url 'carrito' user.id %}" class="btn btn-danger btn-block">Cancelar <i class="fa-solid fa-cancel"></i></a></li>
                {% endfor %}
                </div>
            </div>
        </div>  
    </div>
    
</section>
{% endblock %}