{% extends 'app/base_admin.html' %}
{% load static %}
{% load humanize %}

{% block inicio %}

{% endblock %}
    
{% block contenido %}    
<section class="py-4  osahan-main-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h2>Listado De Productos</h2>
                        <hr>
                        <table class="table table-condensed table-hover table-striped table-responsive-sm bg-light border">
                            <thead>
                                <tr>
                                    <th>CODIGO</th>
                                    <th>NOMBRE</th>
                                    <th>MARCA</th>
                                    <th>PRECIO</th>
                                    <th>STOCK</th>
                                    <th>TIPO</th>
                                    <th>IMAGEN</th>
                                    <th>FECHA INGRESO</th>
                                    <th>OPCIONES</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for aux in listaProductos %}    
                                <tr>
                                    <td scope="row">{{ aux.codigo }}</td>
                                    <td>{{ aux.nombre }}</td>
                                    <td>{{ aux.marca }}</td>
                                    <td>{{ aux.precio }}</td>
                                    <td>{{ aux.stock }}</td>
                                    <td>{{ aux.tipo }}</td>
                                    {% if aux.imagen %}
                                    <td><img src="{{ aux.imagen.url }}" alt="" width="80"></td>    
                                    {% endif %}
                                    <td>{{ aux.created_at }}</td>
                                    <td>
                                        <a href="{% url 'modificarProducto' aux.codigo %}" class="btn btn-info">Modificar</a>
                                        <a onclick="eliminar({{ aux.codigo }})" class="btn btn-danger">Eliminar</a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}