{% extends 'app/base_admin.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block alerta %}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/11.4.9/sweetalert2.css" integrity="sha512-kUA+6aUE6xhYbRqzqHsWMnoc/rgcfAoqMh8dCYHTVUYHlLYlhFoNYm1qP08JTY69gN0LiwbtlYCT2bQ1mbqB4Q==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock alerta %}


{% block inicio %}
    
{% endblock inicio %}
    

{% block contenido %}    
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 mt-3 mb-3">
            <div class="row">
                <div class="col-12 col-md-6 offset-md-3">
                    <div class="card bg-dark text-light border border-4 rounded-3">
                        <div class="card-body">
                            <!-- Para que tome cualquier archivo -->
                                    
                            <form action="" method="POST" enctype="multipart/form-data">
                                <div class="card bg-dark text-light" style="border: none;">
                                    <h2>Modificar Productos</h2>
                                    <hr>
                                    </div>
                                {% csrf_token %}
                                <table>
                                    {{ form | crispy }}
                                </table>
                                <div class="d-flex justify-content-end">
                                    <input type="reset" value="Cancelar" class="btn btn-danger">
                                    &nbsp;
                                    <input type="submit" value="Guardar" class="btn btn-success">
                                </div>
                            </form>

                            <!--Nuevo sistema para recivir mensajes-->
                            {% if messages %}
                                {% for msj in messages %}
                                    <script>
                                        Swal.fire({
                                            title: 'Guardado!',
                                            text: '{{ msj }}',
                                            icon: 'success',
                                            showConfirmButton: false,
                                            timer: 2000
                                        });
                                    </script>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}