{% extends 'app/base.html' %}
{% load static %}
{% block contenido %}
<section>
    <div class="container-fluid">
        <div class="row text-light">
            <div class="col-sm-12 col-12"></div>
            <div class="p-5">
                <h1 class="display-3 text-center">Bienvenido a tu historial de compras.</h1>
                <p class="lead mt-5">Total de Productos: {{ contador }}</p>
                <hr class="my-2 mt-4">
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-1 col"></div>
            <div class="col-sm-10 col-12">
                <div class="productos-comprados ">
                    <div class="row">
                        <div class="col-lg-8 col-sm-8 col-12">
                            {% for aux in listaHistorial %}
                            <div class="col-lg-12 col-12">
                                <div class="carrito-cards d-flex">
                                    <div class="card shadow">
                                        <div class="card-body">
                                            <h4 class="card-title">{{ aux.producto.nombre }} | Marca: {{ aux.producto.marca }}</h4>
                                            <p class="card-text">Precio: ${{ aux.producto.precio }} x Cantidad: {{ aux.cantidad }}</p>
                                            <p class="card-text">Estado: {{ aux.estado }}</p>
                                            <form action="{% url 'seguimiento' %}" method="POST" class="" enctype="multipart/form-data">
                                                {% csrf_token %}
                                                <input type="hidden" name="nombre_producto" id="nombre_producto" value="{{aux.producto.nombre}}">
                                                <input type="hidden" name="precio_producto" id="precio_producto" value="{{ aux.producto.precio }}">
                                                <input type="hidden" name="cantidad_producto" id="cantidad_producto" value="{{ aux.cantidad }}">
                                                <input type="hidden" name="estado_producto" id="estado_producto" value="{{ aux.estado }}">
                                                <input type="hidden" name="marca_producto" id="marca_producto" value="{{ aux.producto.marca }}">
                                                <input type="hidden" name="imagen_producto" id="imagen_producto" value="{{aux.producto.imagen.url }}">
                                                <input type="submit" class="btn btn-success  mt-3" value="Seguimiento">
                                            </form>
                                        </div>
                                        {% if aux.producto.imagen %}
                                            <img class="card-img-top" src="{{ aux.producto.imagen.url }}" alt="Card image">
                                            {% else %}
                                            <img src="{% static 'app/img/stock/stock-juego-1.jpg' %}" alt="">
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-1 col"></div>

            <div class="col-lg-4 col-sm-4 "></div>
            <div class="col-lg-4 col-sm-4 col-12  mb-4">
                <form action="" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger btn-vaciar">Vaciar Historial <i class="fa-solid fa-trash"></i></button>
                    <a href="{% url 'historial' user.id %}"></a>
                </form>
            </div>
            <div class="col-lg-4 col-sm-4 "></div>
        </div>
    </div>
</section>
{% endblock %}