{% extends 'app/base.html' %}
{% load static %}
{% block contenido %}
<section>
    <div class="container-fluid">
        <div class="row">
            <!--Titulo-->
            <div class="col-sm-12">
                <div class="banner-pago d-flex shadow">
                    <h3>Perfil</h3>
                </div>
            </div>
            <!--Cuerpo-->
            <div class="col-sm-12 col-12">
                <div class="formulario-perfil d-flex justify-content-center shadow">
                    <form action="get">
                        <div class="mb-3 mt-2">
                            <i class="fas fa-user"></i>
                            <label for="name" class="form-label">Nombre Completo:</label>
                                <br>
                                {{ user.username }}
                        </div>
                        <div class="mb-3 mt-2">
                            <i class="fas fa-user"></i>
                            <label for="name" class="form-label">Número de Teléfono:</label>
                                <p>+56 9 35649772</p>
                        </div>
                        <div class="mb-3 mt-2">
                            <i class="fas fa-user"></i>
                            <label for="name" class="form-label">Dirección:</label>
                                <p>Avenida Mexico 6285</p>
                        </div>
                        {% if perms.app.view_suscripcion %}
                        <div class="mb-3 mt-2">
                            <i class="fas fa-user"></i>
                            <label for="name" class="form-label">Suscripcion:</label>
                                <p>SI</p>
                        </div>
                        {% endif %}
                    </form>
                    <form action="get ">
                        <div class="mb-3 mt-2 d-flex justify-content-center"><!--Si alguien ve esto, porfavor centrar imagen-->
                            <img src="{% static 'app/img/perfil/icon-user.webp' %}" width="150px" alt="">
                        </div>
                        <div class="mb-3 mt-2">
                            <div class="d-grid">
                                <a href="{% url 'index' %}" class="btn btn-warning btn-block">Cerrar Cuenta</a></li>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}